<% if user_signed_in? %>
<div class="d-flex flex-row navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% today = Time.now %>
      <% lasterday = today - (86400 * 2) %>
      <% stoday = "#{today.year}#{format('%02i', today.month)}#{format('%02i', today.day)}" %>
      <% slasterday = "#{lasterday.year}#{format('%02i', lasterday.month)}#{format('%02i', lasterday.day)}" %>
      <% games.all.where(date: slasterday...stoday).each do |game| %>
        <div class="navbar-score-card">
          <%= "#{game.date[4..5]}-#{game.date[6..7]}" %>
          <table>
            <tr>
              <td class="bold"><%= link_to game.vTeam.abbrevation, team_path(Team.find(game.vTeam.id)) %></td>
              <td class="bold"><%= game.vTeamScore %></td>
            </tr>
            <tr>
              <td class="bold"><%= link_to game.hTeam.abbrevation, team_path(Team.find(game.vTeam.id)) %></td>
              <td class="bold"><%= game.hTeamScore %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
