  <div class='page-title'>
    <h1 class='text-center logo-img-top nba-logo text-center mb-5 mt-4'><%= image_tag "nba-logo.png", alt: "NBA-logo"%> Standings</h1>
  </div>
<div class="container table-container">
  <div class="tab-table">
    <ul class="nav nav-tabs flex-container" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="eastern-tab" data-toggle="tab" href="#eastern" role="tab" aria-controls="eastern" aria-selected="true">Eastern Conference</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="western-tab" data-toggle="tab" href="#western" role="tab" aria-controls="western" aria-selected="false">Western Conference</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="eastern" role="tabpanel" aria-labelledby="eastern-tab">
        <table class="table table-hover table-striped">
          <tr class="head-row bg-warning">
            <td>Rank</td>
            <td>Team</td>
            <td>GB</td>
            <td>W</td>
            <td>L</td>
            <td>Win %</td>
            <td>10wins</td>
            <td>10loss</td>
            <td>streak</td>
          </tr>
          <% @east.each do |team| %>
            <tr>
              <td><%= team.standing %></td>
              <td>
                <%= image_tag "#{team.name} #{team.nickname}.png", class: "team-avatar-icon", alt:"team-image" %>
                <%= link_to team.nickname, team_path(team.id) %>
              </td>
              <td><%= team.games_behind %></td>
              <td><%= team.wins %></td>
              <td><%= team.losses %></td>
              <td><%= team.win_percent %></td>
              <td><%= team.last10wins %></td>
              <td><%= team.last10loss %></td>
              <% if team.streak_wins == true %>
                <td><%= team.streak %>W</td>
              <% else %>
                <td><%= team.streak %>L</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane" id="western" role="tabpanel" aria-labelledby="western-tab">
        <table class="table table-hover table-striped">
          <tr class="head-row bg-warning">
            <td>Rank</td>
            <td>Team</td>
            <td>GB</td>
            <td>W</td>
            <td>L</td>
            <td>Win %</td>
            <td>10wins</td>
            <td>10loss</td>
            <td>Streak</td>
          </tr>
          <% @west.each do |team| %>
            <tr>
              <td><%= team.standing %></td>
              <td>
                <%= image_tag "#{team.name} #{team.nickname}.png", class: "team-avatar-icon", alt:"team-image" %>
                <%= link_to team.nickname, team_path(team.id) %>
              </td>
              <td><%= team.games_behind %></td>
              <td><%= team.wins %></td>
              <td><%= team.losses %></td>
              <td><%= team.win_percent %></td>
              <td><%= team.last10wins %></td>
              <td><%= team.last10loss %></td>
              <% if team.streak_wins == true %>
                <td><%= team.streak %>W</td>
              <% else %>
                <td><%= team.streak %>L</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
