<div class="container team-index-container">
  <div class='page-title'>
    <h1 class='text-center mb-5'>Game Scores</h1>
  </div>

  <% @arr.each do |date| %>
    <h3 class="homepage-date"><%= date[0] %></h3>
      <div class="score-container">
      <% @games.all.where(date_time: date[0]).each do |game| %>
        <div class="col-md-4">
          <table class="table table-hover">
            <thead>
              <tr class="table-warning">
              <!-- <tr class="bg-success"> -->
                <th scope="col">TEAM</th>
                <th scope="col">Q1</th>
                <th scope="col">Q2</th>
                <th scope="col">Q3</th>
                <th scope="col">Q4</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <%= image_tag "#{game.vTeam.name} #{game.vTeam.nickname}.png", class: "team-avatar-icon", alt:"team-image" %>
                  <%= link_to game.vTeam.abbrevation, team_path(Team.find(game.vTeam.id)) %>
                </th>
                <td><%= game.vteam_q1 %></td>
                <td><%= game.vteam_q2 %></td>
                <td><%= game.vteam_q3 %></td>
                <td><%= game.vteam_q4 %></td>
                <td><%= game.vTeamScore %></td>
              </tr>
              <tr>
                <th scope="row">
                  <%= image_tag "#{game.hTeam.name} #{game.hTeam.nickname}.png", class: "team-avatar-icon", alt:"team-image" %>
                  <%= link_to game.hTeam.abbrevation, team_path(Team.find(game.hTeam.id)) %>
                  </th>
                <td><%= game.hteam_q1 %></td>
                <td><%= game.hteam_q2 %></td>
                <td><%= game.hteam_q3 %></td>
                <td><%= game.hteam_q4 %></td>
                <td><%= game.hTeamScore %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  <% end  %>
</div>




