<div class="container team-index-container">
  <div class='page-title'>
    <h1 class='text-center mb-5'>Game Scores</h1>
  </div>

  <div class="row">
    <% @games.each do |game| %>
      <div class="col-md-4 col-sm-12">
        <% date = game.date %>
        <% date_obj = Time.new(date[0...4].to_i, date[4...6].to_i, date[6...8].to_i) %>
        <% d = date_obj.strftime("%e") + "-" %>
        <% d += date_obj.strftime("%b") + "-" %>
        <% d += date_obj.strftime("%y") %>

<table class="table table-striped table-hover table-dark">
  <thead>
    <h4><%= d %></h4>
    <tr class="bg-success">
      <th scope="col">TEAM</th>
      <th scope="col">Q1</th>
      <th scope="col">Q2</th>
      <th scope="col">Q3</th>
      <th scope="col">Q4</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= game.vTeam.abbrevation %></th>
      <td><%= game.vteam_q1 %></td>
      <td><%= game.vteam_q2 %></td>
      <td><%= game.vteam_q3 %></td>
      <td><%= game.vteam_q4 %></td>
      <td><%= game.vTeamScore %></td>
    </tr>
    <tr>
      <th scope="row"><%= game.hTeam.abbrevation %></th>
      <td><%= game.hteam_q1 %></td>
      <td><%= game.hteam_q2 %></td>
      <td><%= game.hteam_q3 %></td>
      <td><%= game.hteam_q4 %></td>
      <td><%= game.hTeamScore %></td>
    </tr>
  </tbody>
</table>

</div>
<% end  %>
</div>
</div>




