<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row justify-content-md-center">
  <div class="form-inputs card">
    <li class="btn btn-light">
      <%= f.input :email,
      required: false,
      autofocus: true,
      input_html: { autocomplete: "email" } %>
    </li>
    <li class="btn btn-light">
      <%= f.input :password,
      required: false,
      input_html: { autocomplete: "current-password" } %>
    </li>
    <li class="btn btn-light">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </li>
    <li class="btn btn-success">
      <%= f.button :submit, "Log in" %>
    </li>
    <li class="btn btn-light">
      <%= render "devise/shared/links" %>
    </li>
  </div>
</div>
<% end %>
