<div class="container">
  <ul class="mt-3 nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" id="myposts-tab" data-toggle="tab" href="#myposts", role="tab" aria-controls="myposts" aria-selected="true">my posts</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="my-comments" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">my comments</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="my-players" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-selected="false">my players</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="my-teams" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">my teams</a>
    </li>
  </ul>
  <div class="tab-content">
    <% if user_signed_in? %>
    <div class="tab-pane active" id="myposts" role="tabpanel" aria-labelledby="myposts-tab">
      <div class="posts-container">
        <div class="my-posts-container">
          <% @myposts.each do |post| %>
            <div class="col-10">
              <%= link_to post_path(post) do %>
                <div class="posts-card">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= post.title %></h5>
                      <p class="card-text"><%= post.content[0...150] %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="tab-pane" id="comments" role="tabpanel" aria-labelledby="my-comments">
      <div class="posts-container">
        <div class="my-posts-container">
          <% @comments.each do |comment| %>
            <div class="col-10">
              <%= link_to post_path(comment.commentable) do %>
                <div class="posts-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text"><%= comment.text[0...150] %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="players" role="tabpanel" aria-labelledby="my-players">
      <div class="container index-container">
        <div class="container player-team-container">
          <% @players.each do |player| %>
            <div class="mb-3 followable-index-card flexcontainer">
              <%= cl_image_tag(Person.find(player.followable_id).photo, class: "player-image", :quality=>"auto", fetch_format: :auto) %>
              <span class="player-name"><%= Person.find(player.followable_id).first_name[0] %>. <%= Person.find(player.followable_id).last_name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="teams" role="tabpanel" aria-labelledby="my-teams">
      <div class="container index-container">
        <div class="container player-team-container">
          <% @teams.each do |team| %>
            <div class="col-lg-2 col-md-4 col-sm-12">
              <%= link_to team_path(team) do %>
                <div class="mb-3">
                  <%= image_tag "#{Team.find(team.followable_id).name} #{Team.find(team.followable_id).nickname}.png", class: "card-img", alt:"team-image" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
