<div class="container post-show">
  <div class="votes">
<%= link_to upvote_post_path(@post), method: :get, remote: true, class: 'like_post' do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
        <i class="fa fa-arrow-up"></i>
        <span class="badge vote_count"><%= @post.get_upvotes.size %></span>
    </button>
<% end %>

<%= link_to downvote_post_path(@post), method: :get, remote: true, class: 'unlike_post' do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
        <i class="fa fa-arrow-down"></i>
        <span class="badge vote_count"><%= @post.get_downvotes.size %></span>
    </button>
<% end %>
</div>
  <div class="post-container">
    <div class="post-content-container">
      <div class="post-content-text">
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <p class="comment-user"><%= time_ago_in_words(@post.created_at) + ' ago'  %></p>
    </div>
    <%= cl_image_tag @post.photo, class: "post_content_image" %>
    </div>
    <% if policy(Comment).create? %>
      <%= render 'shared/comment_form', parent: @post, comment: @comment,remote: false %>
    <% end %>
    <% @post.comments.each do |comment| %>
      <p>
        <div class="comment-container">
          <div class="d-flex justify-content-between">
            <p class="comment-user"><%= comment.user.email %></p>
            <p class="comment-user"><%= time_ago_in_words(comment.created_at) + ' ago'  %></p>
          </div>
          <p><%= comment.text%></p>
            <p>
              <a href="#" class="reply-link">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Reply
              </a>
            </p>
            <div id="comment_replies_container_<%= comment.id%>">
              <div id="comment-replies-<%= comment.id %>">
                <% comment.comments.each do |subcomment| %>
                  <p id="commentOnComment_<%= subcomment.id %>">
                   <p class="subcomment"> <%= subcomment.text %></p>
                  </p>
                  <a href="#" class="reply-link">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Reply
              </a>
              <div id="comment_replies_container_<%= subcomment.id %>">
                <div id="comment-replies-<%= subcomment.id %>">
                <% subcomment.comments.each do |subsubcomment| %>
                  <p id="commentOnComment_<%= subsubcomment.id %>">
                    <p class="subsubcomment"> <%= subsubcomment.text %></p>
                  </p>
                  <% end %>
                </div>
              </div>
                  <div class="reply-comment-form d-none" id="reply_form_<%= subcomment.id %>">
                  <%= render 'shared/comment_form', parent: subcomment, comment: Comment.new, remote: true %>
                </div>
                <% end %>
              </div>

              <% if policy(Comment).create? %>
                <div class="reply-comment-form d-none" id="reply_form_<%= comment.id %>">
                  <%= render 'shared/comment_form', parent: comment, comment: Comment.new, remote: true %>
                </div>
              <% end %>
            </div>
        </div>
      </p>
    <% end %>
  </div>
</div>


